.appNotification {
  position: relative;
  visibility: hidden;
  z-index: 10000;
  display: inline-block !important;
  max-width: 50%;
  padding: 16px 16px;
  -webkit-animation: fadein 4.5s;
  animation: fadein 4.5s;
  margin-bottom: 5px;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  0% {
    visibility: visible;
    bottom: -40px;
    opacity: 0;
  }
  10% {
    bottom: 0px;
    opacity: 1;
  }
  90% {
    bottom: 0px;
    opacity: 1;
  }
  100% {
    bottom: -40px;
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadein {
  0% {
    visibility: visible;
    bottom: -40px;
    opacity: 0;
  }
  10% {
    bottom: 0px;
    opacity: 1;
  }
  90% {
    bottom: 0px;
    opacity: 1;
  }
  100% {
    bottom: -40px;
    opacity: 0;
    visibility: hidden; /* Show the snackbar */
  }
}
