.panel {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #fff;
}
.tabbedPanel {
  .panelTab {
    display: inline-block;
    background-color: #fff;
    padding: 16px 32px;
    &.unselected {
      background-color: #eee;
    }
  }
  .panel {
    margin-top: 0;
  }
}

.panelButtonsWrapper {
  float: right;
  margin-bottom: 10px;
  button {
    margin-left: 5px;
  }
}
