.promptContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-y: hidden !important;
  top: 0;
  left: 0;
  z-index: 5000 !important;
  a {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
  }
}

.promptWindow {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  padding: 30px 20px;
  width: 300px;
  text-align: center;
  margin: 0;
  display: block;
  overflow: hidden !important;
  border-radius: 2px;
  p {
    font-weight: lighter;
    color: #000;
    margin-top: 10px;
  }
  button {
    margin: 0 20px;
  }
}
