$loader-color: rgb(49, 49, 49);

.fullSizeLoader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

.loader9:before {
  content: "";
  position: absolute;
  top: 0px;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  -webkit-animation: loader9g 1s ease-in-out infinite;
  animation: loader9g 1s ease-in-out infinite;
}

.loader9 {
  position: relative;
  width: 12px;
  height: 12px;
  // top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  background-color: $loader-color;
}

.loader9:after {
  content: "";
  position: absolute;
  top: 0px;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  -webkit-animation: loader9d 1s ease-in-out infinite;
  animation: loader9d 1s ease-in-out infinite;
}

@-webkit-keyframes loader9g {
  0% {
    left: -25px;
    background-color: $loader-color;
  }
  50% {
    left: 0px;
    background-color: $loader-color;
  }
  100% {
    left: -25px;
    background-color: $loader-color;
  }
}
@keyframes loader9g {
  0% {
    left: -25px;
    background-color: $loader-color;
  }
  50% {
    left: 0px;
    background-color: $loader-color;
  }
  100% {
    left: -25px;
    background-color: $loader-color;
  }
}

@-webkit-keyframes loader9d {
  0% {
    left: 25px;
    background-color: $loader-color;
  }
  50% {
    left: 0px;
    background-color: $loader-color;
  }
  100% {
    left: 25px;
    background-color: $loader-color;
  }
}
@keyframes loader9d {
  0% {
    left: 25px;
    background-color: $loader-color;
  }
  50% {
    left: 0px;
    background-color: $loader-color;
  }
  100% {
    left: 25px;
    background-color: $loader-color;
  }
}
