.tableWrapper {
  overflow-x: auto;
}
.tableTitleWrapper {
  overflow: auto;
}
.tableTitle {
  display: inline-block;
}

.tableButtonsWrapper {
  float: right;
  text-align: right;
  margin-bottom: 10px;
  button {
    margin-left: 5px;
  }
}
