body {
  margin: 0;
  background-color: #bbb;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-header {
  background-color: #282c34;
  color: white;
  font-size: 24px;
  vertical-align: middle;
  padding: 20px 30px;
  width: 100%;
}

.app-header-link {
  text-decoration: none;
  color: #fff;
}

.app-content {
  margin: 16px 50px 0 50px;
}

h1 {
  margin-bottom: 16px;
}

h2 {
  font-size: 20px;
  margin-bottom: 12px;
}
